
/*Inicio de estilo del logo*/
#logo {
  width: 160px;
  height: 100px;
}

.txt-logo{
    font-size: 30px;
    font-weight: bold;
}

/*Inicio de estilo del menu*/
nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

nav li {
  display: inline;
}

.img-extra{
  width: 303px;
  height: 250px;
}

/* Tabla 2 */

#sct-table  tr, th, td, table{
    border: 1px solid black;
    font-weight: lighter;
    text-align: left;
}

.negrita{
    font-weight: bold;
    text-align: center;
}


